* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(1110deg, #b7e2ff, rgb(255, 118, 33));
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: #000000;
}

.login-form {
    width: 360px;
    background: #f1f1f1;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 60px;
}

.txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 50px 0;
}

.txtb input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

h1{
    font-size: 34px;
    text-shadow: 3px 3px 3px #707070;
}

.txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .8s;
}

.txtb span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .8s;
}

.focus+span::before {
    top: -5px;
}

.focus+span::after {
    width: 100%;
}
.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #bae4ff, #fdc3a0);
    background-size: 200%;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-weight: 900;
    letter-spacing:10px;
    transition: background-position 0.7s, letter-spacing 0.7s; /* 添加过渡效果 */
}

.logbtn:hover {
    background-position: right;
}

.bottom-text {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}
.b_submit{
    margin-top: 140px;
}